<div>
    <div class="flex justify-between">
        <div>
            <button #goLeftButton mat-button disabled (click)="goLeft()"><mat-icon>keyboard_arrow_left</mat-icon></button>
            <button #goRightButton mat-button (click)="goRight()"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
        <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">EXPORTER
            <mat-icon>keyboard_arrow_down</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>PDF</button>
            <button mat-menu-item>CSV</button>
        </mat-menu>
    </div>
    <div class="justify-center mt-5">
        <mat-tab-group #tabGroup mat-align-tabs="center" (selectedTabChange)="selectDateTab($event)">
            <mat-tab *ngFor="let date of dateRange" [label]="date.toLocaleDateString('fr')"></mat-tab>
        </mat-tab-group>
    </div>
    <div class="mt-5">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let j of juryDistinct; let i = index" [expanded]="step === i"
                (opened)="selectJuryData(j, i)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Jury {{j}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Cliquer pour découvrir le planning
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-planning-table [dataSource]="dataSource"></app-planning-table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>