<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field appearance="fill">
      <input type="text" matInput placeholder="Identifiant" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <input type="password" matInput placeholder="Mot de passe" formControlName="password">
    </mat-form-field>
  </p>

  <!--<p *ngIf="error" class="error">
    {{ error }}
  </p>-->

  <button type="submit" mat-raised-button color="primary">Connexion</button>

  <div class="forgotPassword">
    <p>Mot de passe oublié ?</p>
    <a href="">Cliquez ici</a>
  </div>
</form>
