mat-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 2rem auto;
}

.container {
  text-align: center;
  margin-top: 4rem;
}

.spacer {
  margin: 4rem;
}

ul.buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.buttons li {
  padding: 0 1rem;
}
