<mat-card class="card">
  <div class="container">
    <mat-card-title><b>INFO 5A APP 2021-2024</b></mat-card-title>
    <h3>du <b>21/08/2024</b> au <b>25/08/2024</b></h3>
    <div class="spacer"></div>
    <p><b>26</b> apprentis</p>
    <p><b>19</b> MAPs ont remplis leurs contraintes</p>
    <div class="spacer"></div>
    <ul class="buttons">
      <li><a mat-raised-button color="primary" href="#">Voir les détails</a></li>
      <li><a mat-raised-button color="success" href="#">Générer le planning</a></li>
      <li><a mat-raised-button color="danger" href="#">Supprimer</a></li>
    </ul>
  </div>
</mat-card>
