<mat-card class="card">
  <div class="container">
    <mat-card-title><b>{{ serie.name }}</b></mat-card-title>
    <h3>du <b>{{ serie.start }}</b> au <b>{{ serie.end }}</b></h3>
    <div class="spacer"></div>
    <p><b>{{ serie.nbApprentices }}</b> apprentis</p>
    <p><b>{{ serie.nbMapsWithConstraints }}</b> MAPs ont remplis leurs contraintes</p>
    <div class="spacer"></div>
    <ul class="buttons">
      <li><a mat-raised-button color="primary" href="#">Voir les détails</a></li>
      <li><a mat-raised-button color="success" href="#">Générer le planning</a></li>
      <li><a mat-raised-button color="danger" href="#">Supprimer</a></li>
    </ul>
  </div>
</mat-card>
