.container {
  text-align: center;
}

.spacer {
  margin: 2rem;
}

ul.buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.buttons li {
  margin: .5rem .5rem 0 .5rem;
}
