@use '@angular/material' as mat;
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

$poly-soutenances-primary: mat.define-palette(mat.$indigo-palette);
$poly-soutenances-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$poly-soutenances-success: mat.define-palette(mat.$green-palette, 500, 100, 700);
$poly-soutenances-danger: mat.define-palette(mat.$red-palette);

$poly-soutenances-theme: mat.define-light-theme((
  color: (
    primary: $poly-soutenances-primary,
    accent: $poly-soutenances-accent,
    success: $poly-soutenances-success,
    danger: $poly-soutenances-danger,
  )
));

@include mat.all-component-themes($poly-soutenances-theme);

:root {
  --poly-soutenances-primary: #3f51b5;
  --poly-soutenances-accent: #e91e63;
  --poly-soutenances-success: #4caf50;
  --poly-soutenances-danger: #ff3828;

  .mat-success {
    background-color: var(--poly-soutenances-success);
    color: white;
  }
  .mat-danger {
    background-color: var(--poly-soutenances-danger);
    color: white;
  }

  .center-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-horizontally {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
