#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--poly-soutenances-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
}
